@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

/*------RESETS-----*/
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
  outline: none;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #e0e0e0;
}

img {
  max-width: 100%;
}

.container {
  display: block;
  margin: 0 auto;
  width: 1024px;
  max-width: 98%;
}

header {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  margin: 36px 0;
}

h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 24px;
}

h1 {
  font-weight: bold;
}

.box-content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 36px 48px;
  margin-bottom: 32px;
}

.box-content h2 {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 24px;
}

.box-content p {
  margin-bottom: 16px;
}

.box-content img {
  margin: 0 auto;
  display: block;
}

.grid-imgs {
  display: flex;
  flex-wrap: wrap;
}

.grid-imgs img {
  width: 40%;
  margin-bottom: 24px;
}

p.code {
  background: #e0e0e0;
  padding: 24px;
}

p.longtext {
  padding: 24px;
  text-align: justify;
  text-indent: 30px;
}
.navbar {
  position: sticky;
  top: 0px;
  /* overflow: hidden; */
  background-color: #333;
  min-height: 50px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  /* overflow: hidden; */
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.topic-list li{
  margin-left: 35px;
}


